teamcity-server-logs/*
!teamcity-server-logs/.keep
teamcity-server-data/*
!teamcity-server-data/config
teamcity-server-data/config/*
!teamcity-server-data/config/main-config.xml
!teamcity-server-data/config/database.properties
buildserver_pgdata
!teamcity-server-data/config/projects
teamcity-server-data/config/projects/_Root/pluginData/ssh_keys
# ignore backup versions
*.xml.*
# IDE
.idea